
<form [formGroup]="form" >
  <div class="form-group" skipValidation>
    <label for="category-name">Danh mục cha</label><span> * </span>
    <!-- <select class="form-control"  (change)="onChange($event.target.value)" formControlName="categoryParent">
      <option value='' style="text-align: center;" >Lựa chọn danh mục cha </option>   
      <option *ngFor="let e of parentInput" [ngValue] = "e" [value]="e.id">
        {{e.categoryName}}
      </option>
    </select> -->

    <select class="form-control" (click)="showSelect()" *ngIf="!isShowSelect" [(ngModel)]="strParent" [ngModelOptions]="{standalone: true}" >
      <option value="" style="text-align: center">Lựa chọn danh mục cha</option>
      <option *ngFor="let e of emailsCopy" [value]="e.categoryCode">
        {{ e.categoryName }}
      </option>
    </select>          
    <div *ngIf="isShowSelect">
    <div class="card border-left-primary shadow h-100 py-2">
      <div class="card-body">
        <button style="border: none; background:none; font-size: 18px;" type="button" (click)="Select()">--------chọn tất--------</button>
        <tree-root [nodes]="newArray" (activate)="onEvent($event)">
          <ng-template #treeNodeTemplate let-node let-index="index">
            <span>{{ node.data.categoryName }}</span>
          </ng-template>
        </tree-root>
      </div>
    </div>
  </div>
  </div>
  
  

  <div class="form-group">
    <label for="category-code">Mã danh mục</label><span> * </span>
    <div class=" input-group">     
      <input
        type="text"
        id="category-code-input"
        pattern="^[a-zA-Z0-9_-]+$"
        maxlength="30"
        [readonly]="isReadonly"
        class="form-control"
        formControlName="categoryCode"
        autofocus
        required
      />
      <div class="input-group-text">
        <input type="checkbox" id="codeCheckBox" aria-label="Checkbox for following text input" (change)="onSelect($event)" >
        <label class="form-check-label" for="code">(auto)</label>
      </div>
    </div>
    </div>
  

  <div class="form-group">
    <label for="category-note">Ghi chú</label><span> * </span>
    <input
      type="text"
      id="category-note"
      class="form-control"
      formControlName="note"
      required
    />

  </div>

  <div class="form-group">
    <label>Ngày tạo</label>
    <input
      #datepicker="ngbDatepicker"
      class="form-control"
      formControlName="publishDate"
      ngbDatepicker
      (click)="datepicker.toggle()"
    />
  </div>
  <ngb-tabset [destroyOnHide]="false">  
    <ngb-tab>
      <ng-template ngbTabTitle > <span class="flag-icon flag-icon-vn"> </span> Tiếng Việt</ng-template>
      <ng-template ngbTabContent>
        <div class="form-group">
          <label for="category-name" style="margin-top: 30px;">Tên danh mục(vn)*</label>
          <input
            type="text"
            id="category-name"
            class="form-control"
            formControlName="categoryName"        
            required    
          />
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab>
      <ng-template ngbTabTitle > <span class="flag-icon flag-icon-us"> </span> Tiếng Anh</ng-template>
      <ng-template ngbTabContent>
        <div class="form-group">
          <label for="category-name" style="margin-top: 30px;">Tên danh mục(en)</label>
          <input
            type="text"            
            id="category-name"
            class="form-control"
            formControlName="categoryEnglishName"            
          />
        </div>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>

  <button class="btn btn-secondary"  style="margin-top: 30px;" (click)="back()">
     Back
  </button>

  <button class="btn btn-primary"  style="margin-top: 30px;" (click)="save()"  [disabled]="form.invalid">
    <i class="fa fa-check mr-1"></i>
     Lưu thông tin
  </button>
</form>

